{% extends "global/views/base_index.html" %}
{% load render_table from django_tables2 %}

{% block sidebar_internal %}
    {% include "case/case_open_layout.html" %}
{% endblock %}

<!-- Title -->
{% block title %}Kases - Case Note Dashboard{% endblock %}

<!-- Statistics Section -->
<!-- Updates Section -->
<!-- Case Section -->
<!-- Table Head -->
{% block table_head %}
    <th>Note ID</th>
    <th>Note Title</th>
    <th>Note Detail</th>
    <th>Note Background</th>
    <th>Note Status</th>
    <th>Note Type</th>
{% endblock %}

<!-- Table Body -->
<!-- Note ID -->
{% block table_body_id_url %}
    {% url 'casenote_detail' object.id table_object.id %}
{% endblock %}

{% block table_body_id_column %}
    {{ table_object.id }}
{% endblock %}

<!-- Columns -->
{% block table_body_columns %}
    <!-- Note Title -->
    <td>{{ table_object.title }}</td>
    <!-- Note Description -->
    <td>{{ table_object.description }}</td>
    <!-- Note Background -->
    <td>{{ table_object.background }}</td>
    <!-- Note Status -->
    <td>{{ table_object.status }}</td>
    <!-- Note Type -->
    <td>{{ table_object.type }}</td>
{% endblock %}

<!-- Table Else -->
{% block table_else %}<p>There are no notes to show</p>{% endblock %}