{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="nav navbar-nav navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        {% if user.first_name %}
            <li><span class="navbar-brand">{{ user.first_name }} {{ user.last_name }}</span></li>
        {% else %}
            <li><span class="navbar-brand">{{ user.username }}</span></li>
        {% endif %}
        <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
</ul>

{% endif %}
