{% extends "global/views/base_create.html" %}
{% load crispy_forms_tags %}


{% block form %}
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        <div class="row spacer">
            <div class="col-2">
                <label>{{eventform.title.label}}</label>
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{eventform.title}}
                </div>
            </div>
        </div>
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="row form-row spacer">
                <div class="col-2">
                    <label>{{form.person.label}}</label>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        {{form.person}}
                        <div class="input-group-append">
                            <button class="btn btn-success add-form-row">+</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row spacer">
            <div class="col-4 offset-2">
                <button type="submit" class="btn btn-block btn-primary">Create</button>
            </div>
        </div>
    </form>
{% endblock %}