{% extends "global/views/base_index.html" %}
{% load render_table from django_tables2 %}

{% block sidebar_internal %}
    {% include "case/case_open_layout.html" %}
{% endblock %}

<!-- Title -->
{% block title %}Kases - Case Event Dashboard{% endblock %}

<!-- Statistics Section -->
{% block stats %}{% endblock %}
<!-- Updates Section -->
<!-- Case Section -->
<!-- Table Head -->
{% block table_head %}
    <th>Event ID</th>
    <th>Event Title</th>
    <th>Event Detail</th>
    <th>Event Background</th>
    <th>Event Status</th>
    <th>Event Type</th>
{% endblock %}

<!-- Table Body -->
<!-- Event ID -->
{% block table_body_id_url %}
    {% url 'caseevent_detail' object.id table_object.id %}
{% endblock %}

{% block table_body_id_column %}
    {{ table_object.id }}
{% endblock %}

<!-- Columns -->
{% block table_body_columns %}
    <!-- Event Title -->
    <td>{{ table_object.title }}</td>
    <!-- Event Description -->
    <td>{{ table_object.description }}</td>
    <!-- Event Background -->
    <td>{{ table_object.background }}</td>
    <!-- Event Status -->
    <td>{{ table_object.status }}</td>
    <!-- Event Type -->
    <td>{{ table_object.type }}</td>
{% endblock %}

<!-- Table Else -->
{% block table_else %}<p>There are no events to show</p>{% endblock %}