{% extends "global/views/base_detail.html" %}
{#{% load crispy_forms_tags %}#}
{% load widget_tweaks %}

<!-- Sidebar -->
{% block sidebar_internal %}
    {% include "asset/asset_open_layout.html" %}
{% endblock %}

<!-- Title -->
{% block title %}Update Asset{% endblock %}
<!-- Heading -->
{#{% block heading %}{{ pagetitle }} Create Asset{% endblock %}#}

<!-- Top Section -->
{% block summary_header_override %}
    {% block summary_header %}{% endblock %}
{% endblock %}
<!-- Left Update -->
{% block summary_leftpanel %}
    <div class="form-group">
        <form method="post" novalidate>
        {% csrf_token %}

            <!-- Title -->
            <div class="form-group row">
                {% if field.errors %}            
                    <div class="form-group has-errors text-danger small">{{form.title.errors}}</div>
                    <div class="form-group has-errors text-danger small"></div>
                {% endif %}
                <!-- Label -->
                <label for="{{ form.title.id_for_label  }}" class="col-sm-2 col-form-label">{{ form.title.label  }}</label>
                <!-- Input -->
                <div class="col-sm-10">
                    <input class="form-control"
                           id="{{ form.title.id_for_label }}"
                           placeholder="{{ form.title.label  }}">
                </div>
                <!-- Submit Messages -->
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please fill this in</div>
            </div>

             <!-- Change Reason -->
            <div class="form-group row">
                {% if field.errors %}            
                    <div class="form-group has-errors text-danger small">{{form.change_reason.errors}}</div>
                    <div class="form-group has-errors text-danger small"></div>
                {% endif %}
                <!-- Label -->
                <label for="{{ form.change_reason.id_for_label  }}" class="col-sm-2 col-form-label">{{ form.change_reason.label  }}</label>
                <!-- Input -->
                <div class="col-sm-10">
                    <input class="form-control"
                           id="{{ form.change_reason.id_for_label }}"
                           placeholder="{{ form.change_reason.label  }}">
                </div>
                <!-- Submit Messages -->
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please fill this in</div>
            </div>


        </form>
    </div>
{% endblock %}   
<!-- Right Update -->
{% block summary_rightpanel %}
    <div class="form-group">
        <form method="post">
        {% csrf_token %}

            

        </form>
    </div>
{% endblock %}
<!-- Button -->
{% block summary_button %}
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
                Save
            </button>
            <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
        </div>
{% endblock %}

<!-- Asset Detail Tabs -->
    <!-- Panel 1 - Details -->
    {% block tab1_header %}Details{% endblock %}
    <!-- Panel 2 - Schedule -->
    {% block tab2_header %}Schedule{% endblock %}
    <!-- Panel 3 - Contacts -->
    {% block tab3_header %}Contacts{% endblock %}
    <!-- Panel 4 - Questions -->
    {% block tab4_header %}Questions{% endblock %}
    <!-- Panel 5 - Authorisation -->
    {% block tab5_header %}Authorisation{% endblock %}
    <!-- Panel 6 - Case Log -->
    {% block tab6_header %}Case Log{% endblock %}
    {% block tab7 %}{% endblock %}
    {% block tab7_header %}{% endblock %}

    <!-- Tab panels -->      
    <!-- Panel 1 - Details -->
    {% block panel1_content %}{% endblock %}

    <!-- Panel 2 - Schedule -->
    {% block panel2_content %}{% endblock %}

    <!-- Panel 3 - Contacts -->
    {% block panel3_content %}{% endblock %}

    <!-- Panel 4 - Questions -->
    {% block panel4_content %}{% endblock %}

    <!-- Panel 5 - Authorisation -->
    {% block panel5_content %}{% endblock %}

    <!-- Panel 6 - Case Log -->
    {% block panel6_content %}{% endblock %}

    {% block panel7 %}{% endblock %}
    {% block panel7_content %}{% endblock %}