{% extends "global/views/sidebar_open_layout.html" %}

<!-- Sidebar 01 - Case Home -->
<!-- Sidebar 02 - New Case -->
<!-- Sidebar 03 - Case Details -->
    {% block sidebar_3 %}{% endblock %}
<!-- Sidebar 04 - Assets -->
    {% block sidebar_4 %}{% endblock %}
<!-- Sidebar 05 - Evidence -->
    {% block sidebar_5 %}{% endblock %}
<!-- Sidebar 06 - Notes -->
    {% block sidebar_6 %}{% endblock %}
<!-- Sidebar 07 - Tasks -->
    {% block sidebar_7 %}{% endblock %}
<!-- Sidebar 08 - Entities -->
    {% block sidebar_8 %}{% endblock %}
<!-- Sidebar 09 -->
    {% block sidebar_9 %}{% endblock %}
<!-- Sidebar 10 -->
    {% block sidebar_10 %}{% endblock %}
<!-- Sidebar 11 -->
    {% block sidebar_11 %}{% endblock %}
<!-- Sidebar 12 -->
    {% block sidebar_12 %}{% endblock %}
<!-- Sidebar 13 -->
    {% block sidebar_13 %}{% endblock %}
<!-- Sidebar 14 -->
    {% block sidebar_14 %}{% endblock %}
<!-- Sidebar 15 -->
    {% block sidebar_15 %}{% endblock %}
<!-- Sidebar 16 -->
<!-- Sidebar 17 -->
<!-- Sidebar 18 -->
<!-- Sidebar 19 -->
