{% extends "global/views/base_detail.html" %}

{% block sidebar_internal %}
    {% include "case/case_open_layout.html" %}
{% endblock %}

<!-- Title -->
{% block title %}Kases - {{object.title}}{% endblock %}


<!-- Summary -->
{% block header %}Case Summary{% endblock %}
{% block summary_header_override %}{% endblock %}
    <!-- Left Panel -->
    {% block summary_leftpanel %}
        <h5>Case Title: {{ object.title }}</h5>
        <h5>Case ID: {{ object.id }}</h5>
        <h5>Case Brief: {{ object.brief }}</h5>
        <h5>Case Reference: {{ object.reference }}</h5>
        <h5>Case Location: {{ object.location }}</h5>
        <h5>Comment: {{ object.comment }}</h5>
        <h5>Private: {{ object.private }}</h5>
    {% endblock %}          

    <!-- Right Panel -->
    {% block summary_rightpanel %}
        <h5>Case Type: {{ object.type }}</h5>
        <h5>Case Status: {{ object.status }}</h5>
        <h5>Case Classification:{{ object.classification}}</h5>
        <h5>Case Authorisation: {{ object.authorisation }}</h5>
        <h5>Case Deadline: {{ object.deadline }}</h5>
        <h5>Case Creation Date: {{ object.creation_date }}</h5>
        
        {% for note in casenotes %}
            <h5>Note Title: {{ note.title }}</h5>         
        {% endfor %}
        
    {% endblock %} 

    {% block summary_buttonurl %}{% url 'case_edit' object.id %}{% endblock %}
  
<!-- Case Detail Tabs -->
    <!-- Panel 1 - Details -->
    {% block tab1_header %}Details{% endblock %}
    <!-- Panel 2 - Notes -->
    {% block tab2_header %}Notes{% endblock %}
    <!-- Panel 3 - Evidence -->
    {% block tab3_header %}Evidence{% endblock %}
    <!-- Panel 4 - Tasks -->
    {% block tab4_header %}Tasks{% endblock %}
    <!-- Panel 5 - -->
    {% block tab5 %}{% endblock %}    
    {% block tab5_header %}{% endblock %}
    <!-- Panel 6 - -->
    {% block tab6 %}{% endblock %}    
    {% block tab6_header %}{% endblock %}
    <!-- Panel 7 -  -->    
    {% block tab7 %}{% endblock %}
    {% block tab7_header %}{% endblock %}

    <!-- Tab panels -->      
    <!-- Panel 1 - Details -->
    {% block panel1_content %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                    <p class="card-text">
                        <h5>Case Background: {{ object.background}}</h5>
                        <h5>Case Description: {{ object.description }}</h5>        
                    </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <!-- Panel 2 - Notes -->
    {% block panel2_content %}
        <div class="row">
            <!-- Case Section -->
            <!-- Table Section -->
                {% if notes %}
                    <table class="table">
                        <!-- Table Head -->
                        <thead>
                        <tr>
                            <th>Note Title</th>
                            <th>Note Detail</th>
                            <th>Note Locatoin</th>
                            <th>Note Status</th>
                            <th>Note Type</th>
                        </tr>
                        </thead>
        
                        <!-- Table Body -->
                        <tbody>
                            {% for table_object in notes %}
                                <tr>
                                    <!-- ID -->
                                    <td>
                                        <a href="{% url 'casenote_detail' table_object.case.id table_object.id %}" role="button">
                                            {{ table_object.title }}
                                        </a>
                                    </td>
                                
                                    <!-- Columns -->

                                    <!-- Case Description -->
                                    <td>{{ table_object.description }}</td>

                                    <!-- Case Background -->
                                    <td>{{ table_object.location }}</td>

                                    <!-- Case Status -->
                                    <td>{{ table_object.status }}</td>

                                    <!-- Case Type -->
                                    <td>{{ table_object.type }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                <!-- Table Else -->
                {% else %}
                    <p>There are no Notes for this Case yet</p>
                {% endif %}
        </div>
    {% endblock %}

    <!-- Panel 3 - Evidence -->
    {% block panel3_content %}
        <div class="row">
            <!-- Case Section -->
            <!-- Table Section -->
                {% if evidence %}
                    <table class="table">
                        <!-- Table Head -->
                        <thead>
                        <tr>
                            <th>Evidence Title</th>
                            <th>Evidence Detail</th>
                            <th>Evidence Locatoin</th>
                            <th>Evidence Status</th>
                            <th>Evidence Type</th>
                        </tr>
                        </thead>
        
                        <!-- Table Body -->
                        <tbody>
                            {% for table_object in evidence %}
                                <tr>
                                    <!-- ID -->
                                    <td>
                                        <a href="{% url 'caseevidence_detail' table_object.case.id table_object.id %}" role="button">
                                            {{ table_object.title }}
                                        </a>
                                    </td>
                                
                                    <!-- Columns -->

                                    <!-- Case Description -->
                                    <td>{{ table_object.description }}</td>

                                    <!-- Case Background -->
                                    <td>{{ table_object.location }}</td>

                                    <!-- Case Status -->
                                    <td>{{ table_object.status }}</td>

                                    <!-- Case Type -->
                                    <td>{{ table_object.type }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                <!-- Table Else -->
                {% else %}
                    <p>There is no Evidence for this Case yet</p>
                {% endif %}
        </div>
    {% endblock %}

    <!-- Panel 4 - Tasks -->
    {% block panel4_content %}
    <div class="row">
            <!-- Case Section -->
            <!-- Table Section -->
                {% if tasks %}
                    <table class="table">
                        <!-- Table Head -->
                        <thead>
                        <tr>
                            <th>Tasks Title</th>
                            <th>Tasks Detail</th>
                            <th>Tasks Locatoin</th>
                            <th>Tasks Status</th>
                            <th>Tasks Type</th>
                        </tr>
                        </thead>
        
                        <!-- Table Body -->
                        <tbody>
                            {% for table_object in tasks %}
                                <tr>
                                    <!-- ID -->
                                    <td>
                                        <a href="{% url 'casetask_detail' table_object.case.id table_object.id %}" role="button">
                                            {{ table_object.title }}
                                        </a>
                                    </td>
                                
                                    <!-- Columns -->

                                    <!-- Case Description -->
                                    <td>{{ table_object.description }}</td>

                                    <!-- Case Background -->
                                    <td>{{ table_object.location }}</td>

                                    <!-- Case Status -->
                                    <td>{{ table_object.status }}</td>

                                    <!-- Case Type -->
                                    <td>{{ table_object.type }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                <!-- Table Else -->
                {% else %}
                    <p>There are no Tasks for this Case yet</p>
                {% endif %}
        </div>
    {% endblock %}

    <!-- Panel 5 - Authorisation -->
    {% block panel5_content %}
    {% endblock %}

    <!-- Panel 6 - Case Log -->
    {% block panel6_content %}
    {% endblock %}

    {% block panel7 %}{% endblock %}
    {% block panel7_content %}{% endblock %}