{% extends "global/views/base_index.html" %}
{% load render_table from django_tables2 %}

{% block sidebar_internal %}
    {% include "global/views/sidebar_open_layout.html" %}
{% endblock %}

<!-- Title -->
{% block title %}Kases - Case Dashboard{% endblock %}

<!-- Statistics Section -->
<!-- Updates Section -->
<!-- Case Section -->
<!-- Table Head -->
{% block table_head %}
    <th>Case ID</th>
    <th>Case Title</th>
    <th>Case Detail</th>
    <th>Case Background</th>
    <th>Case Status</th>
    <th>Case Type</th>
{% endblock %}

<!-- Table Body -->
<!-- Case ID -->
{% block table_body_id_url %}
    {% url 'case_detail' table_object.id %}
{% endblock %}

{% block table_body_id_column %}
    {{ table_object.id }}
{% endblock %}

<!-- Columns -->
{% block table_body_columns %}
    <!-- Case Title -->
    <td>{{ table_object.title }}</td>
    <!-- Case Description -->
    <td>{{ table_object.description }}</td>
    <!-- Case Background -->
    <td>{{ table_object.background }}</td>
    <!-- Case Status -->
    <td>{{ table_object.status }}</td>
    <!-- Case Type -->
    <td>{{ table_object.type }}</td>
{% endblock %}

<!-- Table Else -->
{% block table_else %}<p>There are no cases to show</p>{% endblock %}