{% extends "global/views/base_index.html" %}
{% load render_table from django_tables2 %}

{% block sidebar_internal %}
    {% include "inventory/inventory_open_layout.html" %}
{% endblock %}

<!-- Title -->
{% block title %}Kases - Inventory Dashboard{% endblock %}

<!-- Statistics Section -->
 
<!-- Updates Section -->
 
<!-- Case Section -->
    <!-- Table Head -->
    {% block table_head %}
        <th>ID</th>
        <th>Name</th>
    {% endblock %}
        
    <!-- Table Body -->
    <!-- Case ID -->
    {% block table_body_id_url %}{% url 'device_detail' table_object.id %}{% endblock %}
    {% block table_body_id_column %} {{ table_object.id }} {% endblock %}                        
    
    <!-- Columns -->
    {% block table_body_columns %}
        <td>{{ table_object.title }}</td>
    {% endblock %}
    
    <!-- Table Else -->
    {% block table_else %}<p>There are no devices to show</p>{% endblock %}