{% extends "global/views/base_list.html" %}

<!-- Title -->
{% block title %}{% endblock %}

<!-- Results Table -->
    <!-- Table Head -->
    {% block table_head %}
        <th>Note ID</th>
        <th>Note Title</th>
        <th>Note Detail</th>
        <th>Note Background</th>
        <th>Note Status</th>
        <th>Note Type</th>
    {% endblock %}

    <!-- Table -->
        <!-- Note ID -->
        {% block table_body_id_url %}{% url 'note_detail' object.id %}{% endblock %}
        {% block table_body_id_column %}{{ object.id }}{% endblock %}
        <!-- Columns -->
        {% block table_body_columns %} 
            <!-- Note Title -->
            <td>{{ object.title }}</td>
            <!-- Note Description -->
            <td>{{ object.description }}</td>
            <!-- Note Background -->
            <td>{{ object.background }}</td>
            <!-- Note Status -->
            <td>{{ object.status }}</td>
            <!-- Note Type -->
            <td>{{ object.type }}</td>
        {% endblock %}           
        <!-- Table Else -->
        {% block table_else %}
            <p>There is no note to show</p>
        {% endblock %}