{% extends "global/views/base_index.html" %}
{% load render_table from django_tables2 %}

<!-- Title -->
{% block title %}Kases - Dashboard{% endblock %}

<!-- Statistics Section -->
    <!-- Active Note -->
    {% block stat1_name %}All Note{% endblock %}
    {% block stat1_count %}{{ all_count }}{% endblock %}

    <!-- Total Note -->
    {% block stat2_name %}Active Note{% endblock %}
    {% block stat2_count %}{{ active_count }}{% endblock %}

    <!-- Approved Note -->
    {% block stat3_name %}Active Note{% endblock %}
    {% block stat3_count %}{{ active_count }}{% endblock %}

    <!-- Pending Note -->
    {% block stat4_name %}Active Note{% endblock %}
    {% block stat4_count %}{{ active_count }}{% endblock %}

    <!-- Rejected Note -->
    {% block stat5_name %}Active Note{% endblock %}
    {% block stat5_count %}{{ active_count }}{% endblock %}

    <!-- Closed Note -->
    {% block stat6_name %}Active Note{% endblock %}
    {% block stat6_count %}{{ active_count }}{% endblock %}

<!-- Updates Section -->
    <!-- Active Note -->
    <!-- Header -->
    {% block left_update_header %}Active Note{% endblock %}
    {% block left_update_header_count %}{{ all_count }} notes{% endblock %}

    <!-- Update Box -->
    {% block left_update_box_item_url %}{% url 'note_detail' object1.id %}{% endblock %}
    {% block left_update_box_item_title %}{{ object1.title }}{% endblock %}
    {% block left_update_box_item_body1 %}{{ object1.description }}{% endblock %}
    {% block left_update_box_item_body2 %}{{ object1.creation_date }}{% endblock %}

    <!-- No Item -->
    {% block left_update_box_noitem %}There is note to show{% endblock %}

    <!-- Recent Updates -->
    <!-- Header -->
    {% block centre_update_header %}Active Note{% endblock %}
    {% block centre_update_header_count %}{{ active_count }} notes{% endblock %}

    <!-- Update Box -->
    {% block centre_update_box_item_url %}{% url 'note_detail' object2.id %}{% endblock %}
    {% block centre_update_box_item_title %}{{ object2.title }}{% endblock %}
    {% block centre_update_box_item_body1 %}{{ object2.description }}{% endblock %}
    {% block centre_update_box_item_body2 %}{{ object2.creation_date }}{% endblock %}

    <!-- No Item -->
    {% block centre_update_box_noitem %}There are no notes to show{% endblock %}

    <!-- Tasks -->
    <!-- Header -->
    {% block right_update_header %}Active Note{% endblock %}
    {% block right_update_header_count %}{{ active_count }} notes{% endblock %}

    <!-- Update Box -->
    {% block right_update_box_item_url %}{% url 'note_detail' object3.id %}{% endblock %}
    {% block right_update_box_item_title %}{{ object3.title }}{% endblock %}
    {% block right_update_box_item_body1 %}{{ object3.description }}{% endblock %}
    {% block right_update_box_item_body2 %}{{ object3.creation_date }}{% endblock %}

    <!-- No Item -->
    {% block right_update_box_noitem %}There are no notes to show{% endblock %}

<!-- Note Section -->
    <!-- Table Head -->
    {% block table_head %}
        <th>Note ID</th>
        <th>Note Title</th>
        <th>Note Detail</th>
        <th>Note Background</th>
        <th>Note Status</th>
        <th>Note Type</th>
    {% endblock %}
        
    <!-- Table Body -->
    <!-- Note ID -->
    {% block table_body_id_url %}{% url 'note_detail' table_object.id %}{% endblock %}
    {% block table_body_id_column %} {{ table_object.id }} {% endblock %}                        
    
    <!-- Columns -->
    {% block table_body_columns %}
        <!-- Note Title -->
        <td>{{ table_object.title }}</td>

        <!-- Note Description -->
        <td>{{ table_object.description }}</td>

        <!-- Note Background -->
        <td>{{ table_object.background }}</td>

        <!-- Note Status -->
        <td>{{ table_object.status }}</td>

        <!-- Note Type -->
        <td>{{ table_object.type }}</td>
    {% endblock %}
    
    <!-- Table Else -->
    {% block table_else %}<p>There are no notes to show</p>{% endblock %}