{% extends "global/views/base_detail1.html" %}
{% load render_table from django_tables2 %}

{% block sidebar_internal %}
    {% include "case/case_open_layout.html" %}
{% endblock %}

<!-- Title -->
{% block title %}Kases - {{object.title}}{% endblock %}


<!-- Summary -->
{% block header %}Case Summary{% endblock %}
{% block summary_header_override %}{% endblock %}
    <!-- Left Panel -->
    {% block summary_leftpanel %}
        <h5>Case Title: {{ object.title }}</h5>
        <h5>Case ID: {{ object.id }}</h5>
        <h5>Case Brief: {{ object.brief }}</h5>
        <h5>Case Reference: {{ object.reference }}</h5>
        <h5>Case Location: {{ object.location }}</h5>
        <h5>Comment: {{ object.comment }}</h5>
        <h5>Private: {{ object.private }}</h5>
    {% endblock %}          

    <!-- Right Panel -->
    {% block summary_rightpanel %}
        <h5>Case Type: {{ object.type }}</h5>
        <h5>Case Status: {{ object.status }}</h5>
        <h5>Case Classification:{{ object.classification}}</h5>
        <h5>Case Authorisation: {{ object.authorisation }}</h5>
        <h5>Case Deadline: {{ object.deadline }}</h5>
        <h5>Case Creation Date: {{ object.creation_date }}</h5>
    {% endblock %} 

    {% block summary_buttonurl %}{% url 'case_edit' object.id %}{% endblock %}
