{% extends "global/auth_base.html" %}
{% load render_table from django_tables2 %}

<!-- Title -->
{% block title %}Kases - Dashboard{% endblock %}

<!-- Content -->
{% block content %}

    <!-- Statistics Section -->
    <section class="dashboard-counts">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">

                <!-- Active Evidence -->
                <div class="col-xl-2 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                    <div class="name"><strong class="text-uppercase">Active Evidence</strong><span></span>
                        <div class="count-number">{{ active_count }}</div>
                    </div>
                    </div>
                </div>

                <!-- Total Evidence -->
                <div class="col-xl-2 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                    <div class="name"><strong class="text-uppercase">Total Evidence</strong><span></span>
                        <div class="count-number">{{ all_count }}</div>
                    </div>
                    </div>
                </div>

                <!-- Approved Evidence -->
                <div class="col-xl-2 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                    <div class="name"><strong class="text-uppercase">Approved Evidence</strong><span></span>
                        <div class="count-number">400</div>
                    </div>
                    </div>
                </div>

                <!-- Pending Evidence -->
                <div class="col-xl-2 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                    <div class="name"><strong class="text-uppercase">Pending Evidence</strong><span></span>
                        <div class="count-number">342</div>
                    </div>
                    </div>
                </div>

                <!-- Rejected Evidence -->
                <div class="col-xl-2 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                    <div class="name"><strong class="text-uppercase">Rejected Evidence</strong><span></span>
                        <div class="count-number">123</div>
                    </div>
                    </div>
                </div>

                <!-- Closed Evidence -->
                <div class="col-xl-2 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                    <div class="name"><strong class="text-uppercase">Closed Evidence</strong><span></span>
                        <div class="count-number">92</div>
                    </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Updates Section -->
    <section class="mt-30px mb-30px">
        <div class="container-fluid">
          <div class="row">

            <!-- Active Evidence -->
            <div class="col-lg-4 col-md-12">           
                 <div id="new-updates" class="card updates recent-updated">

                <!-- Header -->
                <div id="updates-header" class="card-header d-flex justify-content-between align-items-center">
                  <h2 class="h5 display">
                    <a data-toggle="collapse" data-parent="#new-updates" href="#updates-box" aria-expanded="true" aria-controls="updates-box">
                      Active Evidence
                    </a>
                  </h2>
                    <div class="right-column">
                        <div class="badge badge-primary">{{ active_count }} evidences</div>
                        <a data-toggle="collapse" data-parent="#new-updates" href="#updates-box" aria-expanded="true" aria-controls="updates-box">
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>

                <div id="updates-box" role="tabpanel" class="collapse">
                  <ul class="news list-unstyled">

                    {% if evidences %}
                        {% for evidence in evidences %}
                            <!-- Item -->
                            <li class="d-flex justify-content-between"> 
                              <div class="left-col d-flex">
                                <div class="icon"><i class="icon-rss-feed"></i></div>
                                <div class="title"><strong><a href="{% url 'evidence_detail' evidence.id %}" role="button">{{ evidence.title }}</a></strong>
                                  <p>{{ evidence.description }}</p>
                                </div>
                              </div>
                              <div class="right-col text-right">
                                <div class="update-date"><span class="month">{{ evidence.creation_date }}</span></div>
                              </div>
                            </li>
                        {% endfor %}
                    {% else %}
                      <!-- No Item -->
                      <li class="d-flex justify-content-between"> 
                              <div class="left-col d-flex">
                                <div class="icon"><i class="icon-rss-feed"></i></div>
                                <div class="title"><strong>There are no evidences to show</strong>
                                  <p></p>
                                </div>
                              </div>
                              <div class="right-col text-right">
                                <div class="update-date"><span class="month"></span></div>
                              </div>
                         </li>
                    {% endif %}


                  </ul>
                </div>

              </div>
            </div>

            <!-- Recent Updates -->
            <div class="col-lg-4 col-md-6">
              <div id="daily-feeds" class="card updates daily-feeds">

                <!-- Heading-->
                <div id="feeds-header" class="card-header d-flex justify-content-between align-items-center">
                  <h2 class="h5 display">
                    <a data-toggle="collapse" data-parent="#daily-feeds" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box">
                      Recent Updates
                    </a>
                  </h2>
                  <div class="right-column">
                    <div class="badge badge-primary">{{ history_count }} changes</div>
                      <a data-toggle="collapse" data-parent="#daily-feeds" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box">
                        <i class="fa fa-angle-down"></i>
                      </a>
                  </div>
                </div>

                <div id="feeds-box" role="tabpanel" class="collapse">
                  <div class="feed-box">
                    <ul class="feed-elements list-unstyled">


                    {% if evidence_history %}
                        {% for evidence in evidence_history %}
                            <!-- Item -->
                            <li class="d-flex justify-content-between"> 
                              <div class="left-col d-flex">
                                <div class="icon"><i class="icon-rss-feed"></i></div>
                                <div class="title"><strong><a href="{% url 'evidence_detail' evidence.id %}" role="button">{{ evidence.title }}</a></strong>
                                  <p>{{ evidence.history_date}}</p>
                                </div>
                              </div>
                              <div class="right-col text-right">
                                <div class="update-date"><span class="month">{{ evidence.creation_date }}</span></div>
                              </div>
                            </li>
                        {% endfor %}
                    {% else %}
                      <!-- No Item -->
                      <li class="d-flex justify-content-between"> 
                              <div class="left-col d-flex">
                                <div class="icon"><i class="icon-rss-feed"></i></div>
                                <div class="title"><strong>There are no evidences to show</strong>
                                  <p></p>
                                </div>
                              </div>
                              <div class="right-col text-right">
                                <div class="update-date"><span class="month"></span></div>
                              </div>
                         </li>
                    {% endif %}

                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tasks -->
            <div class="col-lg-4 col-md-6">
              <div id="recent-activities-wrapper" class="card updates activities">
                
                <!-- Heading -->
                <div id="activites-header" class="card-header d-flex justify-content-between align-items-center">
                  <h2 class="h5 display">
                    <a data-toggle="collapse" data-parent="#recent-activities-wrapper" href="#activities-box" aria-expanded="true" aria-controls="activities-box">
                        Tasks
                    </a>
                  </h2>
                    <div class="right-column">
                        <div class="badge badge-primary">{{ active_count }} tasks</div>
                        <a data-toggle="collapse" data-parent="#recent-activities-wrapper" href="#activities-box" aria-expanded="true" aria-controls="activities-box">
                            <i class="fa fa-angle-down"></i>
                        </a>
                        </div>
                </div>

                <div id="activities-box" role="tabpanel" class="collapse"> {#add  ' show' to class to show#}
                  <ul class="activities list-unstyled">

                    <!-- Item-->
                    <li>
                      <div class="row">
                        <div class="col-4 date-holder text-right">
                          <div class="icon"><i class="icon-clock"></i></div>
                          <div class="date"> <span>6:00 am</span><span class="text-info">6 hours ago</span></div>
                        </div>
                        <div class="col-8 content"><strong>Meeting</strong>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.                </p>
                        </div>
                      </div>
                    </li>

                    <!-- Item-->
                    <li>
                      <div class="row">
                        <div class="col-4 date-holder text-right">
                          <div class="icon"><i class="icon-clock"></i></div>
                          <div class="date"> <span>6:00 am</span><span class="text-info">6 hours ago</span></div>
                        </div>
                        <div class="col-8 content"><strong>Meeting</strong>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.                </p>
                        </div>
                      </div>
                    </li>

                    <!-- Item-->
                    <li>
                      <div class="row">
                        <div class="col-4 date-holder text-right">
                          <div class="icon"><i class="icon-clock"></i></div>
                          <div class="date"> <span>6:00 am</span><span class="text-info">6 hours ago</span></div>
                        </div>
                        <div class="col-8 content"><strong>Meeting</strong>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.                </p>
                        </div>
                      </div>
                    </li>

                    <!-- Item-->
                    <li>
                      <div class="row">
                        <div class="col-4 date-holder text-right">
                          <div class="icon"><i class="icon-clock"></i></div>
                          <div class="date"> <span>6:00 am</span><span class="text-info">6 hours ago</span></div>
                        </div>
                        <div class="col-8 content"><strong>Meeting</strong>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.                </p>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>

              </div>
            </div>

          </div>
        </div>
      </section>

    <!-- Evidence Section -->
    {% if evidences %}
        <table class="table">
            <!-- Table Head -->
            <thead>
            <tr>
                <th>Evidence ID</th>
                <th>Evidence Title</th>
                <th>Evidence Detail</th>
                <th>Evidence Background</th>
                <th>Evidence Status</th>
                <th>Evidence Type</th>
            </tr>
            </thead>
        
            <!-- Table Body -->
            <tbody>
                {% for evidence in evidences %}
                    <tr>

                        <!-- Evidence ID -->
                        <td>
                            <a href="{% url 'evidence_detail' evidence.id %}" role="button">
                                {{ evidence.id }}
                            </a>
                        </td>
                                    
                        <!-- Evidence Title -->
                        <td>{{ evidence.title }}</td>

                        <!-- Evidence Description -->
                        <td>{{ evidence.description }}</td>

                        <!-- Evidence Background -->
                        <td>{{ evidence.background }}</td>

                        <!-- Evidence Status -->
                        <td>{{ evidence.status }}</td>

                        <!-- Evidence Type -->
                        <td>{{ evidence.type }}</td>

                    </tr>
                {% endfor %}
                </tbody>
        </table>
    {% else %}
        <p>There are no evidences to show</p>
    {% endif %}

{% endblock %}
